.container-product {
    height: auto;
    width: 100%;
    display: flex;
}

.content-product {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.zone-basic-infor-product {
    height: auto;
    width: 100%;
    display: flex;
}

.img-product {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-infor-product {
    height: auto;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.main-img {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-img {
    height: 15%;
    width: auto;
    display: flex;
}

.main-img-product {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-product {
    height: 85%;
    width: 100%;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

#preview {
    height: 100%;
    width: 75%;
    display: flex;
}

#close-avatar {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 10px;
    top: 0px;
    position: absolute;
}

.custom-file-btn {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px black;
    background-color: #f0f0f0;
}

.description-img {
    height: 20%;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-description-img {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-decription {
    height: 80px;
    width: 80px;
    display: flex;
    position: relative;
}

.delete-img-decription {
    height: 20px;
    width: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    position: absolute;
    cursor: pointer;
}

.btn-add-img {
    height: 80px;
    width: 80px;
    display: flex;
    background: #f0f0f0;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.item-input-product {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-create-product {
    height: 50px;
    width: 90%;
    border-radius: 15px;
}

.add-more-function-product {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.basic-option-product {
    height: auto;
    width: 48%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zone-basic-option-product {
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.btn-more-basic-option-product {
    height: auto;
    width: 90%;
    border-radius: 15px;
}

.item-input-basic-option-product {
    display: flex;
    width: 47%;
    flex-direction: column;
}

.input-basic-option-product {
    display: flex;
    justify-content: space-around;
}

.input-basic-option-product span {
    cursor: pointer;
}

.input-buy-option-product span {
    cursor: pointer;
}

.option-buy-product {
    height: auto;
    width: 48%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zone-option-buy-product {
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.input-buy-option-product {
    display: flex;
    justify-content: space-around;
}

.btn-more-option-buy-product {
    height: auto;
    width: 90%;
    border-radius: 15px;
}

.item-input-option-buy-product {
    display: flex;
    flex-direction: column;
}

.note-error {
    color: red;
    display: none;
}

.note-success {
    color: green;
    display: none;
}
