.container-infor-product {
    height: auto;
    width: 100%;
    display: flex;
}

#id-form-container-infor-product {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header-infor-product {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.left-header {
    height: auto;
    width: auto;
    display: flex;
    gap: 10px;
}

.content-infor-product {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.table-infor-product {
    height: auto;
    width: 100%;
}

.table-infor-product tr th {
    table-layout: fixed;
    text-align: center;
    border: solid 1px gray;
}

.table-infor-product tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    border: solid 1px gray;
}

.button-infor-product-zone {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-infor-product-zone a {
    height: 60px;
    width: 70px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.img-infor-product-zone {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-infor-product {
    height: 50px;
    width: 50px;
    display: flex;
}

.list-count-product {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-list-count-product {
    height: auto;
    width: auto;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: space-between;
}

.detail-list-count-product li {
    height: 20px;
    width: 20px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
}

.detail-list-count-product li a {
    height: auto;
    width: auto;
    display: flex;
    text-decoration: none;
}
